*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
*/index.html
.gitignore
application/config/database.php
application/logs/*
application/controllers/Welcome.php
application/views/welcome_message.php
